*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #d5d3d3 !important;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
}

.buttonContainer{
  display: flex;
  align-items: flex-start;
  width: 100%;
}


.endRow{
  text-align: center;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 12px;
}